{{ if .ts }}
import type { NextApiRequest, NextApiResponse } from 'next'

type Data = {
  name: string
}
{{ end }}

{{ if .ts }}
export default function handler(
  req: NextApiRequest,
  res: NextApiResponse<Data>
) {
{{ else }}
export default function handler(req, res) {
{{ end }}
  res.status(200).json({ name: 'John Doe' })
}