{{ if .TS -}}
import type { NextPage } from 'next'
{{- end }}

const {{.Page}} 
{{- if .TS }}: NextPage {{ end -}}
 = () => {
  return (
    <div className={styles.container}>
    </div>
  )
}

export default {{.Page}}
